body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.sidebar {
    height: 100vh;
    width: 12%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000757;
    overflow-x: hidden;
    padding-top: 20px;
    color: white;
    transition: width 0.3s ease-in-out;
}

.sidebar.collapsed {
    width: 80px;
}


.sidebar.collapsed .icons-sidebar {
    margin-left: 25%;
}

.sidebar.collapsed .sidebar-menu-item span {
    display: none;
}

.sidebar-logo-container {
    display: flex;
    align-items: center;
    padding: 0 15px;
    margin-bottom: 20px;
    margin-top: 60px;
    transition: opacity 0.3s;
}

.sidebar.collapsed .sidebar-logo-container p {
    display: none;
}

.sidebar-logo-container img {
    height: 40px;
    margin-right: 10px;
    margin-left: 2px;
}

.sidebar-logo-container p {
    margin: 0;
    font-size: 1.2em;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 1em;
    color: white;
    display: flex;
    align-items: center;
    transition: background-color 0.3s, opacity 0.3s;
}

.sidebar a:hover {
    background-color: #575fcf;
}

.sidebar .sidebar-menu-item {
    display: flex;
    align-items: center;
    height: 7%;
}

.sidebar .sidebar-menu-item span {
    margin-left: 15px;
}

.toggle-button {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
    z-index: 1000;
}

#logo {
    width: 20%;
    border-radius: 50%;
    margin-bottom: 10px;
}

#chosen-item {
    background-color: #0000ff;
}

.login-container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #4facfe 0%, #00f2fe 100%);
}

.login-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-logo img {
    max-width: 70%;
    border-radius: 20px;
}

.login-form {
    background: white;
    border-radius: 20px;
    padding: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 35%;
}

.login-form h1 {
    margin: 0 0 10px 0;
    color: #00aaff;
}

.login-form p {
    color: #666;
    margin: 0 0 20px 0;
}

.login-form input {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form a {
    color: #00aaff;
    text-decoration: none;
    margin: 10px 0;
    display: block;
    text-align: right;
}

.login-form a:hover {
    text-decoration: underline;
}

#login-btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #00aaff;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

#signup-btn {
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #00aaff;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.login-form button:hover {
    background: #008ecc;
}

.login-form p a {
    display: inline;
}

.bottom-form-login {
    margin-top: 10%;
}

@media screen and (max-width: 1000px) {
    .login-logo {
        display: none;
    }

    .login-form {
        width: 70%;
    }
}

@media screen and (max-width: 800px) {
    .login-logo {
        display: none;
    }

    .login-form {
        width: 70%;
    }
}
